# ------------------------
# Services
# ------------------------ 
services:
    # ------------------------
    # Consumers
    # ------------------------  
    consumer1:
        build:
            context: ./Consumer
            dockerfile: Dockerfile
        container_name: consumer51
        hostname: consumer51
        restart: on-failure
        ports:
            - "5001:80"
        environment:
            ASPNETCORE_ENVIRONMENT: Development
            KAFKA_BOOTSTRAP_SERVERS: kafka:29092
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: orders_db
        networks:
            - shared

    consumer2:
        build:
            context: ./Consumer
            dockerfile: Dockerfile
        container_name: consumer52
        hostname: consumer52
        restart: on-failure
        ports:
            - "5002:80"
        environment:
            ASPNETCORE_ENVIRONMENT: Development
            KAFKA_BOOTSTRAP_SERVERS: kafka:29092
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: orders_db
        networks:
            - shared

    consumer3:
        build:
            context: ./Consumer
            dockerfile: Dockerfile
        container_name: consumer53
        hostname: consumer53
        restart: on-failure
        ports:
            - "5003:80"
        environment:
            ASPNETCORE_ENVIRONMENT: Development
            KAFKA_BOOTSTRAP_SERVERS: kafka:29092
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: orders_db
        networks:
            - shared
# ------------------------
# Networks
# ------------------------ 
networks:
    shared:
        external: true
        name: shared-network
